/* css/styles.css */

body {
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

#hymn-container {
  margin-top: 20px;
}

.hymn-line {
  margin-bottom: 20px;
}

.hymn-line h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.hymn-line .sumerian-text {
  font-family: "Courier New", Courier, monospace;
  color: #555;
}

.hymn-line .translation {
  font-style: italic;
  color: #777;
}

.hymn-line .explanation {
  margin-top: 10px;
  background-color: #eef;
  padding: 5px;
  border-radius: 5px;
}

.translation-line .toggle-details {
  background-color: transparent;
  color: #333;
  padding: 3px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  vertical-align: baseline;
}
.details {
  overflow: hidden; /* Это поможет скрыть любые дергания при изменении высоты */
  padding: 0; /* Убираем padding, чтобы он не влиял на анимацию */
}
